.title {
  padding-bottom: 30px;
}

.create_button {
  margin: auto;
  display: block;
  padding-top: 25px;
}

.box {
  border-radius: 25px;
  border: 2px solid white;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-bottom: 16px;
  background-color: white;
  color: black !important;
}

.admin {
  padding-top: 20px;
  text-align: center;
}